.label{
    background:#333;
    color:#FFF;
    margin-bottom:10px;
    padding:10px;
    
}
.blue{
    
    background:blue;
    color:#FFF;
    margin-bottom:10px;
    padding:10px;
    
}
.warning{
     color:#f00;
    
}
.btn{
    height: 25%;
}

.padding{
    padding-bottom: 15px;
}



.btn-danger{
    margin-left:80px;
}

